@charset "utf-8";

/* 背景設定 */
body {
    background-image: url("img/bodyimg01.jpg");
    background-size: 100%;
    background-repeat: repeat;
    text-align: center;
}

/* 導覽總設定 */
nav {
    display: inline-block;
}

/* 導覽鼠標設定 */
a:link {
    color: black;
}

a:visited {
    color: black;
}

a:hover {
    color: lightblue;
}

/* 圖片設定 */
img {
    /*要能根據裝置放大縮小*/
    max-width: 12%;
    height: auto;
    margin-bottom: 0;
    box-shadow: 0 0 10px whitesmoke;
}

.leftImg {
    margin-left: 95px;
}

/* 頁尾設定 */
footer {
    color: whitesmoke;
    text-align: center;
    align-items: center;
    margin-top: 45px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.info {
    margin-left: 45px;
    margin-bottom: 0;
}

.link:link {
    color: whitesmoke;
}

.link:visited {
    color: whitesmoke;
}

.link:hover {
    color: lightsalmon;
}

/* 小 */
@media screen and (max-width:640px) {
    /* 大標題設定 */
    h1 {
        text-align: left;
        font-size: 40px;
        color: whitesmoke;
        margin-left: 30px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .subH1 {
        text-align: left;
        font-size: 15px;
        color: rgb(231, 227, 227);
        margin-left: 30px;
        margin-top: 0px;
    }
    
    /* 導覽設定 */    
    .leftLink {
        margin-left: 5px;
    }
    
    li {
        list-style-type: none;
        display: inline;
        font-size: 8px;
        margin-right: 15px;
        margin-top: 0;
        background-color: whitesmoke;
        opacity: 70%;
        border-radius: 20px;
        padding: 5px 20px;
    }

    /* 最新消息字體設定 */
    h2 {
        text-align: left;
        color: whitesmoke;
        font-size: 15px;
        margin-left: 80px;
        margin-top: 20px;
        margin-bottom: 5px;
    }

    /* 圖片設定 */
    img {
        margin-right: 24px;
    }
    
    /* 頁尾設定 */
    footer {
        font-size: 0.5px;
    }
    
    .info {
        font-size: 0.5px;
    }
}

/* 中 */
@media screen and (min-width:641px) and (max-width:980px) {
    /* 大標題設定 */
    h1 {
        text-align: left;
        font-size: 60px;
        color: whitesmoke;
        margin-left: 40px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .subH1 {
        text-align: left;
        font-size: 28px;
        color: rgb(231, 227, 227);
        margin-left: 45px;
        margin-top: 0px;
    }

    /* 導覽設定 */
    .leftLink {
        margin-left: 15px;
    }

    li {
        list-style-type: none;
        display: inline;
        font-size: 12px;
        margin-right: 30px;
        margin-top: 0;
        background-color: whitesmoke;
        opacity: 70%;
        border-radius: 20px;
        padding: 7.5px 30px;
    }

    /* 最新消息字體設定 */
    h2 {
        text-align: left;
        color: whitesmoke;
        font-size: 20px;
        margin-left: 120px;
        margin-top: 35px;
        margin-bottom: 7.5px;
    }
    
    /* 圖片設定 */
    img {
        margin-right: 36px;
    }
    
    /* 頁尾設定 */
    footer {
        font-size: 0.75px;
    }
    
    .info {
        font-size: 0.75px;
    }
}

/* 大 */
@media screen and (min-width:981px) {
    /* 大標題設定 */
    h1 {
        text-align: left;
        font-size: 80px;
        color: whitesmoke;
        margin-left: 50px;
        margin-bottom: 0;
        margin-top: 0;
    }

    .subH1 {
        text-align: left;
        font-size: 36px;
        color: rgb(231, 227, 227);
        margin-left: 55px;
        margin-top: 0px;
    }
    
    /* 導覽設定 */
    .leftLink {
        margin-left: 60px;
    }
    
    li {
        list-style-type: none;
        display: inline;
        margin-right: 60px;
        margin-top: 0;
        background-color: whitesmoke;
        opacity: 70%;
        border-radius: 20px;
        padding: 10px 40px;
    }
    
    /* 最新消息字體設定 */
    h2 {
        text-align: left;
        color: whitesmoke;
        font-size: 25px;
        margin-left: 200px;
        margin-top: 50px;
        margin-bottom: 10px;
    }

    /* 圖片設定 */
    img {
        margin-right: 60px;
    }

    /* 頁尾設定 */
    footer {
        font-size: 1px;
    }

    .info {
        font-size: 1px;
    }
}
